<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}UA-NEWS{% endblock title %}</title>
        <link rel="stylesheet" href="/webroot/style/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webroot/style/css/style.css">
        <script src="/webroot/js/jquery-3.1.1.min.js"></script>
        <script src="/webroot/style/bootstrap/js/bootstrap.min.js"></script>
        <script src="/webroot/js/scripts.js"></script>
        {% block script %}{% endblock script %}
    </head>
    <header>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="/" title="Aahan Krish's Blog - Homepage">UA-NEWS</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div>
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="/home">Home</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Категорії
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu main-menu">
                                <li><a href="/news/category/politic/page/1">Політика</a></li>
                                <li><a href="/news/category/economic/page/1">Економіка</a></li>
                                <li><a href="/news/category/sport/page/1">Спорт</a>
                                    <ul class="sub-menu">
                                        <li role="presentation"><a href="/news/filter-tag/page/1/?tag=бокс">Бокс</a></li>
                                        <li role="presentation"><a href="/news/filter-tag/page/1/?tag=футбол">Футбол</a></li>
                                        <li role="presentation"><a href="/news/filter-tag/page/1/?tag=баскетбол">Баскетбол</a></li>
                                        <li role="presentation"><a href="/news/filter-tag/page/1/?tag=теніс">Теніс</a></li>
                                    </ul>
                                </li>
                                <li><a href="/news/category/science/page/1">Наука</a></li>
                                <li><a href="/news/category/culture/page/1">Культура</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="/news/analitic/page/">Аналітика</a></li>
                        {% if session.get('admin') == 1 %}
                        <li role="presentation"><a href="/admin/index">Admin panel</a></li>
                        {% endif %}
                        {% if session.get('user') %}
                        <li role="presentation"><a href="/logout">Logout</a></li>
                        {% else %}
                            <li role="presentation"><a href="/login">Sign in</a></li>
                            <li role="presentation"><a href="/register">Register</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><span id="search" class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p style="float: right;"><i>{{  session.get('user') }}</i></p>
    </header>
    <body>
        <b>{{ session.getFlash() }}</b><hr/>
        {% block body %}
            Default text
        {% endblock body %}
        {% block describe %}
            <div id="describe">
                <p>Бажаєте підписатися на розсилку новин?</p>
                <input type="email" placeholder="Введіть email"/><br/>
                <input type="text" placeholder="Введіть своє ім'я"/><br/>
                <input type="button" value="Так">
                <input type="button" value="Ні">
            </div>
        {% endblock describe %}
    </body>
</html>