{% extends 'admin_layout.phtml.twig' %}

{% block body %}
    <h3>Головна сторінка адмінстратора</h3>
    <a href="/admin/change-pw">Змінити пароль</a><br/></br>
    <a href="/admin/manage/menu">Змінити меню сайту, фон шапки, контенту</a><br/><br/>
    <a href="/home">Перейти на сайт</a>

{% endblock body %}