html{
    margin: 10px 50px 0;
}
ul li.float-right{
    float: right;
}

form > div{
    max-width: 400px;
}

.col-md-3 > .thumbnail > .show-all{
    height: 210px !important;
    width: auto;
}

/*Admin book editing form*/
.edit-form> .book-title{
    margin-top: 0px;
}

.edit-form img{
    margin-bottom: 15px;
}

.edit-form p{
    font-size: 16px;
}
.edit-form p::first-letter{
    font-weight: bold;
}
.edit-form > .form-group > select.author{
    height: 300px;
}
/*---------------------------------*/
/* Admin books table*/
.table-responsive .table{
    max-width: 1200px !important;
    margin: auto;
}

.table th.published{
    width: 180px;
}

.table th.action{
    width: 200px;
}

.table th.title{
    width: 450px;
}

.table th.tag {
    width: 120px;
}
/*---------------------------------*/
/* Captcha field styles*/
.captcha-group::after{
    display: block;
    content: '';
    clear: both;
}
.captcha-input{
    float: left;
    width: 50%;
}
.captcha-img{
    float: right;
    margin: 10px 10px 0;
}
/*--------------------------------*/

div.caption h3{
    margin-top: 10px !important;
}

/*Index page*/
h4.new-title{
    margin-bottom: 3px;
}

h3 a.category-title{
    color: #000;
}

/*Show new page*/
p.new-content{
    font-size: 18px;
}

div.read-statistic{
    display: inline-block;
    border: 1px solid #5e5e5e;
    padding: 10px;
    float: right;
    margin-right: 10px;
}

/*MAIN MENU*/
.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #000;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu > li {
    position: relative;
}

.main-menu .sub-menu {
    display: none;
    position: absolute;
    top: 5px;
    left: 170px;
    z-index: 10;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}

.dropdown-menu.main-menu a,
.sub-menu a{
    border: 1px solid #d5d5d5;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

/*Describe for news*/
#describe{
    display: inline-block;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: orange;
    font-size: 18px;
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 100;
    display: none;
}

#describe input{
    margin-bottom: 5px;
    width: 100%;
    padding-left: 10px;
}

#describe input[type="button"]{
    width: 49%;
    padding-left: 0px;
}

/*Category table*/
table.table.table-categories{
    width: 250px;
}
.table-categories th{
    width: 70px;
}
/*_________________________________________*/
/*TYPEAHEAD*/
.bs-example {
    font-family: sans-serif;
    position: relative;
    margin: 100px;
    right: 50px;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 22px; /* Set input font size */
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 260px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 260px;
}
.tt-suggestion {
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.typeahead{
    margin-right: 50px !important;
}
/*_________________________________________*/
.category-container,
.new-container,
.adver-container,
.adver{
    border: 1px solid #d5d5d5;
    margin: 5px 0;
    padding: 5px;
}
.adver-container{
    margin-top: 58px;
}
.adver{
    text-align: center;
}
.adver:not(:last-child){
    margin-bottom: 10px;
}
.adver-price{
    font-size: 30px;
    font-weight: bold;
}

.adver-sale{
    display: none;
    border: 1px solid #d5d5d5;
    background-color:  orange;
    position: relative;
    bottom: 100px;
    z-index: 100;
    font-size: 20px;
    transition: all 2s;
}

.adver-sale.left{
    left: 150px;
    /*transform: translate(150px, 0);*/
    /*-webkit-transition:  -webkit-transform 2s; *//* Safari */
    /*transition: transform 5s;*/
}
.adver-sale.right{
    right: 150px;
    /*transform: translate(-150px, 0);*/
    /*-webkit-transition:  -webkit-transform 2s; *//* Safari */
    /*transition: transform 5s;*/
}

form#login-form,
form#registry-form{
    width: 400px !important;
}
.login-form-container,
.registry-form-container{
    align: center;
    padding-top: 80px;
}

.adver-form>td>input{
    width: 30px !important;
}

.filter-form input,
.filter-form select{
    margin-right: 50px;
}

.form-control.typeahead.tt-hint{
    position: relative;
    width: 260px;
    right: 50px;
}
/*_______________________________*/
#manage-menu-form div input[type="color"],
{
    font-size: 20px;
    height: 50px;
}

#content_center{
    padding-top: 50px;
}